.Page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ContentWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.Content {
  padding: 0 1.5rem;
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.Menu {
  position: sticky !important;
  top: 0;
  align-self: flex-start;
}

.Divider {
  background: #f0f0f0;
  width: 1px;
}
